$fluorecent-red: #ff5252;
$synthetic-pumpkin: #ff793f;
$eye-of-newt: #b33939;
$chilean-fire: #cd6133;
$swan-white: #f7f1e3;
$hot-stone: #aaa69d;
$crocodile-tooth: #d1ccc0;
$grey-porcelain: #84817a;
$mandaryn-sorbet: #ffb142;
$almeda-ochre: #cc8e35;
$spiced-butternud: #ffda79;
$dessert: #ccae62;

*{
  box-sizing: content-box;
}

d-flex {
  display: flex;
}

flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.left-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20vw;
  background-color: white;
}

.initials {
  background-color: $mandaryn-sorbet;
  border-radius: 43px;
  padding: 30px 23px 30px 23px;
  margin: 50px auto;
  width: 43px;
}

.HO {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 105.3%;
  color: $swan-white;
}

.menu {
  width: 193px;
  height: 276px;
  margin: 0 auto;
  padding-left: 25%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 338.5%;
  a {
    padding: 5px 10px;
    transition: 0.2s;
    border-radius: 20px;
    text-decoration: none;
    color: $grey-porcelain;
    &:hover {
      color: $chilean-fire;
      background-color: $spiced-butternud;
    }
  }
}

.right-part {
  margin: 0 0 0 20vw;
  justify-content: end;
}

.bg-image {
  justify-content: end;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(257.1deg, #b33939d8 27.51%, #ff793fc2 113.53%), url(/assets/images/background.svg);
  height: 100vh;
}

.presentation {
  top: 20%;
  right: 10%;
  width: 50%;
  position: absolute;
  color: white;
  font-family: Roboto;
  font-style: normal;
  .name {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 88px;
    line-height: 105.3%;
  }
  .prof {
    font-weight: bold;
    font-size: 28px;
    line-height: 105.3%;
  }
  .content {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
  .header-social {
    padding: 10px;
    color: $grey-porcelain;
    background-color: white;
    border-radius: 20px;
  }
}
