$fluorecent-red: #ff5252;
$synthetic-pumpkin: #ff793f;
$eye-of-newt: #b33939;
$chilean-fire: #cd6133;
$swan-white: #f7f1e3;
$hot-stone: #aaa69d;
$crocodile-tooth: #d1ccc0;
$grey-porcelain: #84817a;
$mandaryn-sorbet: #ffb142;
$almeda-ochre: #cc8e35;
$spiced-butternud: #ffda79;
$dessert: #ccae62;
