* {
  box-sizing: content-box; }

.d-flex {
  display: flex; }

flex-column {
  flex-direction: column; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.justify-content-between {
  justify-content: space-between; }

.left-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20vw;
  background-color: white; }

.initials {
  background-color: #ff5252;
  border-radius: 50px;
  padding: 30px 23px 30px 25px;
  margin: 50px auto;
  width: 43px; }

.HO {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 105.3%;
  color: white; }

.social a {
  text-decoration: none;
  margin-right: 5px; }
  .social a svg {
    position: static;
    fill: #ff793f;
    width: 30px;
    height: auto; }

.menu {
  width: 193px;
  height: 276px;
  margin: 0 auto;
  padding-left: 25%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 338.5%; }
  .menu a {
    padding: 5px 10px;
    transition: 0.2s;
    border-radius: 20px;
    text-decoration: none;
    color: #84817a; }
    .menu a:hover {
      color: #ff793f; }

.right-part {
  margin: 0 0 0 20vw;
  justify-content: end; }

.bg-image {
  justify-content: end;
  height: 100vh; }

header {
  position: relative;
  height: 100vh;
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.presentation {
  top: 15%;
  right: 0;
  width: 80%;
  height: 100vh;
  position: absolute;
  color: white;
  font-family: Roboto;
  font-style: normal; }
  .presentation svg {
    position: absolute;
    top: 1px;
    right: 0;
    z-index: -5;
    object-fit: cover; }
  .presentation .name {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 88px;
    line-height: 105.3%; }
  .presentation .prof {
    font-weight: bold;
    font-size: 28px;
    line-height: 105.3%; }
  .presentation .header-social {
    width: 75%;
    padding: 10px 15px;
    color: #84817a;
    background-color: white;
    border-radius: 20px; }

.content {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px; }

.title {
  margin: 50px 0 50px 0;
  font-family: Roboto;
  font-weight: bold;
  font-size: 28px;
  line-height: 105.3%;
  color: #84817a; }

.portfolio {
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap; }
  .portfolio .every-tech {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%), url(https://github.com/helman101/Every-Tech/raw/development/docs/screenshot.png);
    background-size: cover;
    background-position: center; }
  .portfolio .terminal-movies {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%), url(https://github.com/helman101/movie-scraper/raw/readme/img/scraper_screenshot.PNG);
    background-size: cover;
    background-position: center; }
  .portfolio .event {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%), url(https://github.com/helman101/overwatch-con/raw/master/assets/desktop-screenshot.png);
    background-size: cover;
    background-position: center; }
  .portfolio .newsweek {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%), url(https://github.com/helman101/Newsweek-clone/raw/master/assets/desktop-screenshot.png);
    background-size: cover;
    background-position: center; }
  .portfolio .projects {
    flex-direction: row;
    flex-wrap: wrap; }
  .portfolio .project {
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    border-radius: 10px;
    width: 45%;
    height: 280px;
    font-family: Poppins; }
    .portfolio .project .wrapper {
      position: relative;
      width: 100%;
      height: 100%; }
    .portfolio .project .project-title {
      position: absolute;
      left: 30px;
      top: 30px;
      color: white;
      font-weight: 600;
      font-size: 20px;
      line-height: 105.3%; }
  .portfolio .used-languages {
    position: absolute;
    top: 60px;
    left: 30px; }
    .portfolio .used-languages span {
      margin-right: 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      border-radius: 50px;
      background-color: darkgray;
      color: white;
      padding: 5px 10px; }
  .portfolio .portfolio-links {
    position: absolute;
    bottom: 30px;
    left: 25px; }
    .portfolio .portfolio-links svg {
      margin-left: 5px;
      width: 25px;
      height: auto;
      fill: white; }
    .portfolio .portfolio-links a {
      margin-right: 10px;
      color: white;
      text-decoration: none;
      padding: 10px 15px 10px 15px;
      border-radius: 20px;
      background-color: #ff793f;
      transition: 0.3s; }
      .portfolio .portfolio-links a:hover {
        background-color: #cd6133; }

.about {
  font-family: Roboto;
  color: #84817a;
  margin-left: 10%; }
  .about .about-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 105.3%;
    color: #84817a;
    margin-bottom: 20px; }
  .about .content {
    margin-bottom: 50px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px; }
  .about a {
    font-weight: bold;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    border-radius: 50px;
    background-color: #ff793f;
    transition: 0.3s; }
    .about a:hover {
      background-color: #cd6133; }

.skill-column {
  margin-top: 100px;
  font-family: Roboto;
  font-style: normal;
  width: 30%; }
  .skill-column li {
    list-style-type: none;
    margin: 20px auto 20px auto;
    font-size: 16px;
    line-height: 242.5%; }
  .skill-column .header {
    font-weight: bold;
    font-size: 22px;
    line-height: 105.3%; }

.main-footer {
  width: 50%;
  margin-left: 10%;
  color: #84817a;
  font-family: Roboto;
  font-style: normal; }
  .main-footer .collaborate-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 105.3%; }
  .main-footer .form {
    font-family: Roboto;
    font-style: normal;
    color: #84817a; }
    .main-footer .form .form-header {
      margin-bottom: 30px; }
      .main-footer .form .form-header input {
        font-family: Roboto;
        color: #84817a;
        margin-right: 10px;
        font-size: 16px;
        width: 40%;
        line-height: 24px;
        padding: 15px 20px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.07);
        box-sizing: border-box;
        box-shadow: 0px 7px 15px rgba(95, 104, 186, 0.13);
        border-radius: 14px; }
        .main-footer .form .form-header input:focus-visible {
          outline: none;
          box-shadow: 0px 7px 15px  #b33939ad; }
    .main-footer .form textarea {
      font-family: Roboto;
      font-size: 16px;
      line-height: 19px;
      color: #84817a;
      padding: 15px 20px;
      width: 100%;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.07);
      box-sizing: border-box;
      box-shadow: 0px 7px 15px rgba(95, 104, 186, 0.13);
      border-radius: 14px;
      resize: none; }
      .main-footer .form textarea:focus-visible {
        outline: none;
        box-shadow: 0px 7px 15px #b33939ad; }
    .main-footer .form button {
      cursor: pointer;
      margin: 30px auto;
      font-size: 16px;
      line-height: 105.3%;
      padding: 15px 20px 15px 20px;
      color: white;
      border: none;
      background: #ff5252;
      border-radius: 60px;
      transition: 0.3s; }
      .main-footer .form button:hover {
        background-color: #b33939; }

footer {
  padding: 10px;
  position: relative;
  color: white;
  text-align: end;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px; }
  footer hr {
    margin-left: 50%;
    height: 1px;
    border: none;
    background-color: #ffb142; }
  footer .social {
    margin-top: 5px; }
    footer .social a {
      text-decoration: none;
      margin-right: 5px; }
      footer .social a svg {
        fill: #b33939;
        position: static;
        width: 30px;
        height: auto; }
  footer svg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -5; }

/*# sourceMappingURL=style.css.map */
