* {
  box-sizing: content-box; }

.d-flex {
  display: flex; }

flex-column {
  flex-direction: column; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.left-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20vw;
  background-color: white; }

.initials {
  background-color: #ffb142;
  border-radius: 43px;
  padding: 30px 23px 30px 23px;
  margin: 50px auto;
  width: 43px; }

.HO {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 105.3%;
  color: #f7f1e3; }

.menu {
  width: 193px;
  height: 276px;
  margin: 0 auto;
  padding-left: 25%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 338.5%; }
  .menu a {
    padding: 5px 10px;
    transition: 0.2s;
    border-radius: 20px;
    text-decoration: none;
    color: #84817a; }
    .menu a:hover {
      color: #cd6133;
      background-color: #ffda79; }

.right-part {
  margin: 0 0 0 20vw;
  justify-content: end; }

.bg-image {
  justify-content: end;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(257.1deg, #b33939d8 27.51%, #ff793fc2 113.53%), url(/assets/images/background.svg);
  height: 100vh; }

.presentation {
  top: 20%;
  right: 10%;
  width: 50%;
  position: absolute;
  color: white;
  font-family: Roboto;
  font-style: normal; }
  .presentation .name {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 88px;
    line-height: 105.3%; }
  .presentation .prof {
    font-weight: bold;
    font-size: 28px;
    line-height: 105.3%; }
  .presentation .content {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px; }
  .presentation .header-social {
    padding: 10px;
    color: #84817a;
    background-color: white;
    border-radius: 20px; }

.portfolio {
  flex-wrap: wrap;
  margin-left: 10%; }
  .portfolio .title {
    margin: 50px 0 50px 0;
    font-family: Roboto;
    font-weight: bold;
    font-size: 28px;
    line-height: 105.3%;
    color: #84817a; }
  .portfolio .every-tech {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%), url(https://github.com/helman101/Every-Tech/raw/development/docs/screenshot.png);
    background-size: cover;
    background-position: center; }
  .portfolio .projects {
    flex-direction: row;
    flex-wrap: wrap; }
  .portfolio .project {
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    border-radius: 10px;
    width: 35%;
    height: 280px;
    font-family: Poppins; }
    .portfolio .project .wrapper {
      position: relative;
      width: 100%;
      height: 100%; }
    .portfolio .project .project-title {
      position: absolute;
      left: 10px;
      top: 10px;
      color: white;
      font-weight: 600;
      font-size: 20px;
      line-height: 105.3%; }
  .portfolio .used-languages {
    position: absolute;
    top: 50px;
    left: 10px; }
    .portfolio .used-languages span {
      margin-right: 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      border-radius: 10px;
      background-color: darkgray;
      color: white;
      padding: 5px; }
  .portfolio .portfolio-links {
    position: absolute;
    bottom: 20px;
    left: 10px; }
    .portfolio .portfolio-links a {
      color: white;
      text-decoration: none;
      padding: 10px;
      border-radius: 15px;
      background-color: #ff793f; }

/*# sourceMappingURL=style.css.map */
